.featuredProducts {
    margin: 100px 200px;
  
    .top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 50px;
  
      h1 {
        text-transform: capitalize;
        margin-bottom: 20px;
      }
  
      p {
        color: gray;
      }
    }
  
    .bottom {
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap to the next line */
      justify-content: center;
      gap: 20px; /* Reduce gap for better spacing on smaller screens */
    }
  
    @media (max-width: 768px) {
      margin: 50px 20px;
  
      .top {
        align-items: center;
  
        h1 {
          margin-bottom: 10px;
        }
  
        p {
          text-align: center;
        }
      }
  
      .bottom {
        gap: 10px; /* Further reduce gap for small screens */
      }
    }
  
    @media (max-width: 480px) {
      margin: 20px 10px;
  
      .top {
        h1 {
          font-size: 24px;
        }
  
        p {
          font-size: 14px;
        }
      }
  
      .bottom {
        gap: 5px; /* Minimal gap for very small screens */
      }
    }
  }
  