.navbar {
  height: 80px;
  z-index: 10; /* Ensure the navbar is always on top */
background-color: #777;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left, .right {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .center {
      font-size: 32px;
      letter-spacing: 4px;
    }

    .icons {
      display: flex;
      gap: 15px;
      color: #777;
      cursor: pointer;

      .cartIcon {
        position: relative;

        span {
          font-size: 12px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #2879fe;
          color: white;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .menu-toggle {
      display: none;
    }

    .menu {
      display: flex;
      gap: 25px;

      .item {
        font-size: 18px;
      }

      &.open {
        display: flex;
      }
    }
  }

  @media (max-width: 768px) {
    height: auto;

    .wrapper {
      padding: 10px 15px;
      flex-direction: column;
      align-items: center; /* Center align items */

      .left, .right {
        gap: 10px;
        flex-direction: row; /* Keep items in a row */
        align-items: center;
      }

      .center {
        font-size: 24px;
        margin-bottom: 10px;
        order: 1; /* Make sure the center logo is in the middle */
      }

      .item {
        font-size: 16px;
      }

      .icons {
        gap: 10px;

        .cartIcon span {
          font-size: 10px;
          width: 15px;
          height: 15px;
          right: -5px;
          top: -5px;
        }
      }

      .menu-toggle {
        display: block;
        cursor: pointer;
      }

      .menu {
        display: none; /* Default state is hidden */
        flex-direction: column;
        gap: 10px;
        width: 100%;

        .item {
          width: 100%;
          text-align: left;
        }

        &.open {
          display: flex; /* Show menu when open */
        }
      }
    }
  }

  @media (max-width: 480px) {
    .wrapper {
      padding: 10px 15px;

      .left, .right {
        gap: 5px;
      }

      .center {
        font-size: 20px;
        order: 1; /* Ensure logo is in the middle */
      }

      .item {
        font-size: 14px;
      }

      .icons {
        gap: 5px;

        .cartIcon {
          order: -1; /* Move cart icon to the left */
        }

        .cartIcon span {
          font-size: 8px;
          width: 10px;
          height: 10px;
          right: -3px;
          top: -3px;
        }
      }
    }
  }
}
